{% load static %}

<link rel="stylesheet" href="{% static "init/include/nav-bar.css" %}">

<div class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a href="{% url 'home-view' %}" class="navbar-brand logo">Acreditaciones</a>
        <div class="navbar-nav ms-auto">
            <a href="https://www.icesi.edu.co/" class="nav-link">More information</a>
            <a href="https://www.icesi.edu.co/contacto/" class="nav-link">Support</a>
        </div>
    </div>
</div>