body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    background: url("../images/home.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }